body {
    font-family: Arial, sans-serif;
    background-color: #ffe5b4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.faq-container {
    background: #008080;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%;
}

h1 {
    margin-bottom: 15px;
}

.faq-item {
    background: white;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    font-weight: bold;
    color: #008080;
}

.faq-answer {
    color: black;
    font-weight: normal;
}

.btn-login, .btn-logout, #add-question, #export-btn, #import-btn {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin: 10px 5px;
    border-radius: 5px;
}

.admin-container {
    background: #008080;
    padding: 20px;
    color: white;
    border-radius: 10px;
    text-align: center;
    width: 50%;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: opacity 0.5s, transform 0.5s;
}

/* Skrytí administrace na začátku */
.hidden {
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;
}
